.overlay {
  width: 100%;
  height: 25rem;
  z-index: 60;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.landingtop-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landing-left-wrapper {
  z-index: 100;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-left-inner {
  height: 20rem;
  width: 30rem;
  border-radius: 0 20px 20px 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 2rem;
}

.landing-right-wrapper {
  z-index: 100;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-right-inner {
  display: flex;
  height: 20rem;
  width: 45rem;
  border-radius: 20px 0 0 20px;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.toplogo {
  width: 20rem;
}

.topuser {
  width: 12rem;
}

.rolename {
  font-weight: bold;
  font-size: 16px;
  color: #696969;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 1.5rem;
}

p {
  margin: 0;
}

.username {
  font-weight: bold;
  font-size: 24px;
}

.btn-wrapper {
  display: flex;
  gap: 1rem;
}

.userbtn {
  background-color: #fff;
  border: 2px solid #b9b9b9;
}
