/* === First Page === */
.first-page {
  height: 297mm;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  break-after: always;
}

.first-page img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.title-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.form-title {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 2rem;
}

/* === Tables === */
.syllabus-table {
  width: 100%;
  border-collapse: collapse;

  /* Don't break in middle of rows */
  break-inside: avoid; /* modern */
  break-inside: avoid; /* fallback */
  margin-bottom: 5mm; /* LESS spacing between tables */
}

.table-cell {
  border: 1px solid #000;
  padding: 5px;
}

.title-cell {
  font-weight: bold;
}

.wide-cell {
  width: 100%;
}

/* Consistent layout for all content after the first page */
.other-pages {
  padding: 5mm 15mm 15mm 15mm;
  box-sizing: border-box;
}

@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 5mm;
}

@page:first{
  margin: 0;
};
