.form-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form-in-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#prof-modal-inner {
  display: flex;
  flex-direction: column;
}

.prof-inp-title {
  margin: 0;
}

.prof-input-field {
  height: 3rem;
  border-radius: 5px;
  border: 1px solid gray    ;
}
